.containerText {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    width: 82.5rem;
    height: 12.5rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    width: 25rem;
    height: auto;
    gap: 0.9375rem;
    margin-right: 10px;
}

.paragraphContainer {
    display: flex;
    align-items: center;
    width: 38.125rem;
    height: 10.375rem;
    max-height: max-content;
}

@media (max-width: 768px) {

    .containerAboutSection {
        display: flex;
        height: 370px;
        width: 450px;
        padding: 10px;
    }

    .containerText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // max-width: 100%;
        width: 400px;
        height: 346px;
        // gap: 65px;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // max-width: max-content;
        width: 400px;
        // height: 340px;
        // gap: 0.9375rem;
    }

    .paragraphContainer {
        display: flex;
        width: 485px;
        height: 260px;
    }

    // .paragraphContainer p {
    //     width: 16.9375rem;
    //     max-width: 100%;
    //     height: 30rem;
    // }
}


@media (max-width: 475px) {

    .containerAboutSection {
        margin-top: 3.125rem;
        height: 35rem;
        width: 100%;
    }

    .containerText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        width: 82.5rem;
        height: 12.5rem;
        gap: 0.625rem;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        max-width: max-content;
        width: 25rem;
        height: auto;
        gap: 0.9375rem;
    }

    .paragraphContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 16.9375rem;
        height: 10.375rem;
        max-height: 100%;
    }

    .paragraphContainer p {
        width: 16.9375rem;
        max-width: 100%;
        height: 30rem;
    }
}