.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4;
    border-bottom: 0.125rem solid white;
    color: var(--white-color);


    width: 7.125rem;
    height: 2.4375rem;
    border-radius: 0.75rem;

}

.btn2 {
    border-radius: 1.5625rem;
    border-top: solid 0.125rem #FFF;
    border-right: solid 0.125rem #FFF;
    border-top-right-radius: 0rem;
    width: 17.9375rem;
    height: 5.375rem;
}

.inverter-color {
    filter: invert(100%);
}