.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 82.5rem;
    height: 6.25rem;
}

.imgMyLogo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    
}

.titleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
}