.contactContainer {
    display: flex;
    align-items: center;
    gap: 25rem;
    height: 12.25rem;
}

.contactList>h1 {
    padding-bottom: 0.625rem;
}

.imgContact {
    max-width: 100%;
    width: 1.1875rem;
    height: 1.1875rem;
    margin-right: 15%;
}