.containerProjectCards {
    flex-direction: column;
    align-items: center;
}

.containerCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.containerSwiperSlide {
    display: flex;
    align-items: center;
    justify-content: center;
}

// @media(max-width: 768px) {
@media (max-width: 970px) {
    .containerProjecSection {
        padding: 10px;
    }

    // .containerProjectCards {
    //     flex-direction: column;
    //     align-items: center;
    // }

    .containerProjectCards h1 {
        display: flex;
        justify-content: center;
    }

    // .containerCards {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     flex-wrap: wrap;
    //     gap: 1rem;
    // }

    // .containerSwiperSlide {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }

}

// @media(max-width: 475px) {
@media (max-width: 555px) {
    .containerProjecSection {
        margin-top: 3.125rem;
        padding: 0px;
    }

    .containerProjectCards {
        flex-direction: column;
        align-items: center;
    }

    .containerProjectCards h1 {
        display: flex;
        justify-content: center;
    }

    .containerCards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .containerSwiperSlide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}